<img src="cid:imagename" alt="cerplogo" border="0" />
<p>Hey,</p>
<p>Tu registro en nuestra plataforma ha sido realizado, para terminar el proceso activa tu cuenta en el siguiente link</p>
<p>
    <a href="{{ url }}">Confirmar Activacion</a>
</p>

<p>Si no solicitó este correo electrónico, puede ignorarlo con seguridad.</p>